body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100vh;
  background-image: linear-gradient(to top left, #0c4175, #0b92b8);
}
.log-in__form {
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #ffffff;
  text-align: center;
  border-radius: 20px;
}
.log-in__form h1 {
  color: #2ecc71;
  text-transform: uppercase;
  font-weight: 500;
}
.log-in__form input[type = "text"],.log-in__form input[type = "password"] {
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #2ecc71;
  border-radius: 30px;
  transition: 0.5s;
}
.log-in__form input[type = "text"]:focus,
.log-in__form input[type = "password"]:focus {
  width: 280px;
  border-color: #2ecc71;
}
.log-in__form input[type = "submit"] {
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: #2ecc71;
  border-radius: 30px;
  transition: 0.5s;
  cursor: pointer;
}
.log-in__form input[type = "submit"]:hover {
  background: #2ecc71;
  color: #fff;
}
